<div ng-controller="roomCtrl">
    <h3>page room</h3>
    <input type="text" ng-model="room.name" placeholder="name">
    <select class="form-control" ng-model="room.unit" ng-options="unit.name for unit in units">
        <option value="">Selecione uma unidade</option>
    </select>
    <button ng-click="addRoom(room)">adicionar</button>
    <hr>
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="room in rooms">
                <td>{{room}}</td>
                <td><button ng-click="deleteRoom(room)">apagar</button></td>
            </tr>
        </tbody>
    </table>
    {{room}}
</div>
