<div class="container" ng-controller="roomCtrl">
    <div class="row">
        <div class="col-md-12">
            <h3>page room</h3>
            <hr>
        </div>
    </div>
        {{unit}}
    <div class="row">
        <div class="col-md-12">
            <hr>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="room in unit.rooms">
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="room.name" placeholder="name">
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-success" ng-click="addRoom($index)">+</button>
                            <button class="btn btn-danger" ng-click="deleteRoom($index)">-</button>
                            <a class="btn btn-primary" ui-sref="teacher({unitId: unit._id, roomIndex: $index})">adicionar professores</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" ng-click="updateUnit(unit)">Atualizar</button>
        </div>
    </div>
</div>

